<!DOCTYPE html>
<html>
  <head>
    <title>Anouchecreations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Preload for font -->
    <link
      rel="preload"
      href=<%= asset_path "Spartan-VariableFont_wght.woff2" %>
      as="font"
      type="font/woff2"
      crossOrigin="anonymous"
    />  

    <style>
      #menu-toggle:checked + #menu {
        display: block;
      }
    </style>
  </head>

  <body class="h-full antialiased font-normal leading-normal bg-white">
    <main>
      <%= render "shared/navbar" %>
      <%= yield %>
    </main>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>

</html>
