<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- CookieBot script -->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js"
            data-cbid="7a203250-1e18-4163-93ef-719df8798e08" data-blockingmode="auto"
            type="text/javascript">
    </script>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Preload for font -->
    <link
      rel="preload"
      href=<%= asset_path "Spartan-VariableFont_wght.woff2" %>
      as="font"
      type="font/woff2"
      crossOrigin="anonymous"
    />  

    <style>
      #menu-toggle:checked + #menu {
        display: block;
      }
    </style>
  </head>

  <body class="h-full antialiased font-normal leading-normal bg-white">
    <main>
      <%= render "shared/navbar" %>
      <%= yield %>
    </main>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>

</html>
